.sld-thumbails {
  padding: 0;
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}

.sld-thumbails li {
  list-style: none;
  float: left;
  width: 100px;
  margin-right: 10px;
  height: 135px;
}
.sld-thumbails li img {
  width: 100%;
}
.sld-thumbails-icons {
  background: #ccc;
  padding: 10px;
}
.sld-thumbails li.active .sld-thumbails-icons {
  background: #999;
}
.sld-thumbails-icons a {
  color: #fff;
}
.sld-add {
  cursor: pointer;
  border: 1px dashed #999;
  display: table;
  vertical-align: middle;
  text-align: center;
}
.sld-add i {
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}
.lyr-cont {

}
.lyr-cont ul {
  padding: 0;
}
.lyr-cont li {
  list-style: none;
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 10px 10px 10px;
}
.lyr-cont li.active {
  background: #F5F5F5;
}
.lyr-label {
  float: left;
  width: 30%;
  padding-top: 10px;
  cursor: pointer;
}
.lyr-label-title {
  float: left;
  width: 70%;
}
.lyr-label-buttons {
  float: left;
  width: 30%;
}
.lyr-label-buttons i {
  color: #999;
  font-size: 16px;
}
.lyr-duration {
  float: left;
  width: 70%;
}
.lyr-icon:before {
  font-family: 'FontAwesome';
  margin-right: 5px;
  font-size: 15px;
}
.lyr-icon-text:before {
  content: "\f034";
}
.lyr-icon-image:before {
  content: "\f1c5";
}
.lyr-icon-button:before {
  content: "\f096";
}
.lyr-cont .irs-from,
.lyr-cont .irs-to,
.lyr-cont .irs-min,
.lyr-cont .irs-max {
  display: none !important;
}
.lyr-cont .irs-diapason,
.lyr-cont .irs-line {
  top: 15px;
}
.lyr-cont .irs-slider {
  top: 12px;
}
.lyr-cont .irs-with-grid {
  height: 50px;
}

/** Slider preview */
.slide-preview-cont {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.slide-preview-cont img {
  position: relative;
  width: 100%;
}
.slide-layer {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and ( max-width: 860px ){
  html {
    font-size: 9px;
  }
}

@media screen and ( max-width: 460px ){
  html {
    font-size: 6px;
  }
}